{{ partial "header.html" . }}
{{ partial "top-block.html" . }}
  {{ range $index, $element :=  .Data.Pages.ByWeight }}{{ if eq .Section "post" }}

    <div id="main">
        <!-- Intro -->
        {{ if modBool $index 2 }}<div id="intro" class="counterpoint">{{ else }}<div id="intro" class="point">{{ end}}
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-md-offset-3 text-center">
                {{ if (isset .Params "icon") }}
                    <i class="lead-icon icon-{{ .Params.icon }}"></i>
                {{ end }}
                <h2>{{ .Title }}</h2>
                <p class="lead">
                    {{ .Content }}
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- /Intro -->
      {{ end }}
    {{ end }}

    </div>
{{ partial "footer.html" . }}
